@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff4655;
  --primary-dark: #ff1f31;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1923;
  color: white;
}

.bg-gradient {
  background: linear-gradient(to right, #ff4655, #ff1f31);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #ff4655;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1f31;
}